#Modifique as variáveis desse arquivo para configurar e rodar o projeto na sua máquina
#as informações desse arquivo são fictícias

#Credenciais Banco de dados

url=jdbc:postgresql://url_do_seu_banco
bancoSenha=senha_do_seu_banco
bancoUser=user_do_seu_banco

#JWT senha (gere uma senha hexadecimal)

JWTSenha=senha_do_jwt

#KEY de criptação pra cpf (pode ser qualquer string apenas para encriptar)

CPF_SECRET_KEY=CpfEncrpyt

# Server

SERVER_PORT=8080

# Cloudinary (usado para dar upload em imagens)

CLOUD_NAME=nome_cloudnary
CLOUD_APIKEY=api_key_cloudnary
CLOUD_APISECRET=api_secret_cloudnary
MAX_FILE_SIZE=10MB
MAX_REQ_SIZE=10MB

# Mercado Pago (usado para pagamento no checkout)
MERCADOPAGO_TOKEN=mercado_pago_token

# Email (usado para enviar email para o cliente de status de pedido)
EMAIL=emailexamplo@gmail.com
SENHA_EMAIL=senha_de_app_do_email

# Variaveis do 2.0 OAuth (para fazer login com google)
CLIENT_ID=client_id_do_google_cloud


